<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Object</title>
</head>
<body>
  <div class="h-full">
    <h2>Object fit</h2>
    <p>object-contain</p>
    <div class="mt-2 flex justify-center items-center bg-indigo-300">
      <img class="object-contain h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
    <p>object-cover</p>
    <div class="mt-2 flex justify-center items-center bg-indigo-300">
      <img class="object-cover h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
    <p>object-fill</p>
    <div class="mt-2 flex justify-center items-center bg-indigo-300">
      <img class="object-fill h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
    <p>object scale down</p>
    <div class="flex justify-center items-center bg-indigo-300">
      <img class="object-scale-down h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
    <br>
    <h2>Object position:</h2>
    <p>object center</p>
    <div class="mt-2 flex justify-center items-center bg-indigo-300">
      <img class="object-none object-center h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
    <p>object right top</p>
    <div class="mt-2 flex justify-center items-center bg-indigo-300">
      <img class="object-none object-right-top h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
    <p>object left top</p>
    <div class="mt-2 flex justify-center items-center bg-indigo-300">
      <img class="object-none object-left-top h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
    <p>object left bottom</p>
    <div class="mt-2 flex justify-center items-center bg-indigo-300">
      <img class="object-none object-left-bottom h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
    <p>object bottom</p>
    <div class="mt-2 flex justify-center items-center bg-indigo-300">
      <img class="object-none object-bottom h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
    <p>object right bottom</p>
    <div class="mt-2 flex justify-center items-center bg-indigo-300">
      <img class="object-none object-right-bottom h-48 w-96" src="../fundamentos/monte-fuji.jpg">
    </div>
  </div>
</body>
</html>